body {
  background: linear-gradient(135deg, #667eea, #764ba2);
  color: white;
  text-align: center;
}
.container {
  margin-top: 10px;
  padding: 10px;
}
.btn-custom {
  background-color: #4caf50;
  border: none;
  color: white;
  font-size: 20px;
  padding: 15px 30px;
  margin: 15px;
  width: 250px;
  border-radius: 25px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.btn-custom:hover,
.btn-index:hover {
  background-color: #45a049;
}
.footer {
  padding: 20px;
  background: rgba(0, 0, 0, 0.2);
}

.btn-index {
  background-color: #4caf50;
  border: none;
  color: white;
  font-size: 15px;
  margin: 15px;
  width: 100px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
}

#navbarNav {
  justify-content: center;
}

#location-options {
  text-align: left;
  padding: 10px;
}

.weather-buttons {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 20px;
}

#options-list .option-item {
  margin-bottom: 10px;
  margin-top: 10px;
}
